name: initial-setup

on:
  push:
  workflow_dispatch:

# Permisos necesarios para subir reportes de seguridad a GitHub
permissions:
  contents: read
  security-events: write
  actions: read

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Confirmar inicialización
        run: echo "Proyecto inicializado correctamente."

  # 1. Detección de secretos : Evita que credenciales, API Keys o contraseñas se suban al repositorio.
  security-secrets:
    needs: setup
    uses: ./.github/workflows/security-secrets.yml

  # 2. Análisis de composición de software (SCA) : Analiza las librerías y dependencias
  security-sca:
    needs: setup
    uses: ./.github/workflows/security-sca.yml

  # 3. Análisis de código estático (SAST) : Revisa el código fuente sin ejecutarlo para encontrar errores de lógica, buffer overflows o inyecciones SQL.
  security-sast:
    needs: setup
    uses: ./.github/workflows/security-sast.yml

  # 4. Análisis de infraestructura (Docker/IaC) : validar la configuración segura de docker
  security-iac:
    needs: setup
    uses: ./.github/workflows/security-iac.yml
