name: Security - SAST (Static Code)
on:
  workflow_call:

jobs:
  semgrep-scan:
    runs-on: ubuntu-latest
    container:
      image: returntocorp/semgrep
    steps:
      - uses: actions/checkout@v4

      - name: Run Semgrep CI # semgrep para análisis de código estático
        run: semgrep scan --config=p/default --sarif --output=semgrep.sarif

      - name: Upload Semgrep scan results
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: semgrep.sarif
          category: semgrep
