name: DAST - OWASP ZAP

on:
  workflow_call:

permissions:
  contents: write
  security-events: write
  issues: write
  checks: write

jobs:
  zap-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Build application
        run: ./mvnw clean package -DskipTests

      - name: Start application
        run: |
          ./mvnw spring-boot:run &
          sleep 30

      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.12.0
        with:
          target: "http://localhost:8080"
          artifact_name: "zap-report"
