name: Security - Secret Scanning
on:
  workflow_call:

jobs:
  secret-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Gitleaks Scan
        uses: gitleaks/gitleaks-action@v2 # librería para análisis de secretos
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
